# https://red-mail.readthedocs.io/en/stable/tutorials/config.html#gmail
# Google does not allow you to sign in using your standard account password. You must:
# 1. Turn on 2-Step Verification inside your Google Account settings.
# 2. Generate a 16-character App Password
# 3. Use that App Password as your GMAIL_PASSWORD value
MAIL_USERNAME="example@gmail.com"
MAIL_PASSWORD="app_password"
